*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    margin: 0;
    background: rgb(70, 70, 143);
}

.header{
    position: fixed;
    top: 0;
    width: 100%;
    background: white;
    box-shadow: 2px 0px 4px 4px rgba(250, 248, 248, 0.276);
    z-index:4 ;
}

.header .logo{
    font-size: 2em;
    padding: 14px 0 20px 20px;
    float: left;
}

.header ul{
    margin: 0;
    padding: 0;
    background: white;
    overflow: hidden;
}
.header ul li{
    padding: 10px;
}
.header ul a{
    display: block;
    padding: 10px 4px;
    text-decoration: none;
    outline: 1px solid rgba(255, 166, 0, 0.171);
}

.header .menu{
    clear: both;
    max-height: 0;
    background: white;
    transition: max-height 1.6s ease-out;
}

.header .menu-icon{
    position: relative;
    top: 24px;
    right: 5px;
   
    padding: 10px;
    float: right;
}
.header .menu-icon .nav-icon{
    background: #333;
    position: relative;
    width: 18px;
    height: 2px;
    display: block;

}
.header .menu-icon .nav-icon::before{
    content: "";
    background: #333;
    position: absolute;
    width: 18px;
    height: 2px;
    display: block;
    top: 5px;
}

.header .menu-icon .nav-icon::after{
    content: "";
    background: #333;
    position: absolute;
    width: 18px;
    height: 2px;
    display: block;
    top: -5px;
}
.header .checkbox{
    display: none;
}
.checkpolicy{ display: none;}

.header .checkbox:checked ~ .menu{
    max-height: 250px;
}

main{
    position: relative;
    top: 10rem;
    width: 80%;
    margin: auto;
    min-height: 50vh;

}

.form-container{
    position: relative;
    width: 100%;
    margin: 20vh auto;
    background: white;
    border: 1px solid wheat;
    
}

.login-form{
    width: 100%;
    border: 1px solid wheat;
    padding: 20px;
}

.login-form input{
    display: inline-block;
    width: 100%;
    padding: 10px;
    margin-bottom: 5px;
    border-radius: 2px;
    outline-style: none;
    border:1px solid rgb(230, 229, 229);
   
}
   


.default-btn{
    display: inline-block;
    margin: auto;
    width: 100%;
    padding: 10px;
    background: orange;
    border-style: none;
    outline-style: none;
}
.facebook-btn{
    display: inline-block;
    margin: auto;
    width: 100%;
    padding: 10px;
    background: hsla(238, 97%, 47%, 0.714);
    border-style: none;
    outline-style: none;
    margin-top: 8px;
    color: white;
}

@media (min-width:768px){
    .form-container{    width: 50%; }
    .header{
        line-height: 60px;
    }
    .header .logo{
        float: none;
        padding: 5px 20px;
    }
    .header ul{ position: relative; top: 5px; right: 20px; background: none;}
    .header ul a{
        display: inline;
    }
    .header li{
        display: inline;
    }

    .header .menu {
        max-height: none;
        float: right;
        background: none;
    }
    .header .menu-icon{ display: none;}
    
}