*{
    padding: 0;
    margin:0;
    box-sizing: border-box;
}
:root{
    --body-bgcolor:#ffffff;
    --header-bgcolor:rgba(0,0,0,0.7);
    --card-bgcolor:#fff;
}
h1{
    width: 100%;
    background-color: var(--header-bgcolor);
    text-align: center;
    color: #fff;
    padding: 10px 10px ;
    margin-bottom: 10px;
}

main{
    width: 80%;
    margin:auto;
    padding: 10px;
   
    
}

.card{
    background-color: var(--body-bgcolor);
    padding: 20px;
    width: 95%;
    margin: auto;
    margin-top: 10vh;
    border-radius: 20px;
    box-shadow: 0 1px 20px rgba(131, 130, 130, 0.7), 
    0 2px 10px rgba(131, 130, 130, 0.7);
}
.bio{
    color: black;
    text-align: justify;
    font-size: 14px;
    margin-bottom: 10px;
}
.user-photo{
    place-items: center;
    text-align: center;
}
.user-photo img{
    width: 120px;
    border-radius: 100px;
    
}
.bio{
    font-style: italic;
}
